.player-names {
    display: flex;

}

.graph-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph-square {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: clamp(20rem, 5rem + 31.25vw, 42.5rem);
    width: clamp(20rem, 5rem + 31.25vw, 42.5rem);
    background: linear-gradient(145deg, var(--box-color), #d5d5d5);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.4);
    padding: 5%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.graph-visible {
    opacity: 1 !important;
}

.attributes-tab {
    position: absolute;
    top: -4rem;
    left: 0;
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 10px;
}

.attributes-tab .radio {
    flex: 1 1 auto;
    text-align: center;
    
}

.attributes-tab .radio input {
    display: none;
}

.attributes-tab .radio .name {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    border-radius: 0.5rem;
    border: none;
    color: rgba(51, 65, 85, 1);
  }
  

.attributes-tab .radio input:checked + .name {
    color: var(--box-text);
    font-weight: 600;
}



@media (max-width: 768px) {

    .attributes-tab {
        font-size: 12px
    }

    .graph-container {
        transform: translate(-50%, -50%);
    }

    .graph-square {
        height: clamp(15rem, 9.4219rem + 32.4544vw, 25rem);
        width: clamp(15rem, 9.4219rem + 32.4544vw, 25rem);
    }

}